<md-card>

    <md-card>
        <md-list>
            <md-list-item>
                <span flex>Customer Name</span>
                <span flex>
                    <md-input-container >
                        <label></label>
                        <input  type="text" ng-model="vm.invoice.customer">
                    </md-input-container>
                </span>


            </md-list-item>


        </md-list>
    </md-card>



    <md-card>
        <p>
            Detail Transactions:

        </p>

        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column>No.</th>
                    <th md-column>Desc</th>
                    <th md-column>Cost</th>
                    <th md-column>Qty</th>
                    <th md-column>Total</th>
                    <th md-column width="25px"></th>

                </tr>

                </thead>
                <tfoot md-foot>
                <tr md-row>
                    <td md-cell colspan="3" style="text-align: left">
                        <md-card-actions layout="row" layout-align="left center">
                            <md-button class="md-primary md-raised" ng-click="vm.addItem()">Add Item</md-button>
                        </md-card-actions>
                    </td>
                    <td md-cell  style="text-align: right">
                        <h4>Total :</h4>
                    </td>
                    <td md-cell style="text-align: left">
                        <h4>{{vm.total() | currency}}</h4>
                    </td>
                    <td md-cell></td>
                </tr>
                </tfoot>
                <tbody md-body>
                <tr md-row ng-repeat="item in vm.invoice.items">
                    <td md-cell>{{item.$$hashKey}} - {{$index+1}}</td>
                    <td md-cell flex >
                        <md-input-container md-no-float class="md-block">
                            <label></label>
                            <input flex-gt-xs type="text" ng-model="item.description">
                        </md-input-container>
                    </td>
                    <td md-cell>
                        <md-input-container md-no-float class="md-block">
                            <label></label>
                            <input style="width: 50px; text-align: center"  type="text" ng-model="item.cost">
                        </md-input-container>
                    </td>
                    <td md-cell>
                        <md-input-container md-no-float class="md-block">
                            <label></label>
                            <input style="width: 50px; text-align: center"  type="number" ng-model="item.qty">
                        </md-input-container>

                    </td>
                    <td md-cell>{{item.qty * item.cost | currency}}</td>
                    <td md-cell>
                        <md-button class="md-icon-button" aria-label="More">
                            <md-icon md-svg-icon="img/icons/ic_delete_black_24px.svg" ng-click="vm.removeItem(item.$$hashKey, $index)"></md-icon>
                        </md-button>

                    </td>

                </tr>

                </tbody>

            </table>
        </md-table-container>

    </md-card>

    <md-card>
        <md-card-actions layout="row" layout-align="center">
            <md-button class="md-primary md-raised" ng-click="vm.save(vm.invoice)">Save</md-button>
        </md-card-actions>
    </md-card>




</md-card>

